<!-- <div class="cardInitial">
  <div class="card ">
    <div class="headerHome">
      <h1 class="text-center mb-4 initialTitle">Start Here</h1>
    </div>
    <div class="row justify-content-center homeView">
     <h2 class="text-center"> Go ahead an record the warnings on the vehicles check.</h2>
    </div>
  </div>
</div> -->