<div class="cardInitial homeScreen">
  <div class="card ">
    <div class="headerHome">
      <h1 class="text-center mb-4 initialTitle">Start Here</h1>
    </div>
    <div class="row justify-content-center homeView">
     <h2 class="text-center"> Go ahead an record the warnings on the vehicles check.</h2>
       <%= link_to 'Warnings', marshall_warnings_path, :class=> "btn btn-primary backHome col-sm-5 my-5" %>
    </div>
  </div>
</div> 

