// Striped table colors
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {    
  background-color: #fbff009c !important;
}

a.singOut {
    color: black !important;
    font-weight: 400;
    font-size: 1.25rem;
}
.strongSize {
  font-weight: 550;
  font-size: 1.25rem;  
}
.showOutput {
  font-size: 1.25rem;
}
.table th{
  text-align: center;
}
.cardInitial, .marginsAlerts {
  margin: 3%;
}
.initialTitle {
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 650;
}
.headerInitial {
  background-color: #fffb00;
  color: #000;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.searchDiv {
    margin-left: 5%;
    margin-right: 5%;
}
.inputSearch {
    margin-bottom: 2% !important;
    width: 400px !important;
}


.mb-mr {
  margin-bottom: 4%;
}
#newLink {
    margin-left: 5%;
}
#newLinkBottom {
  margin-left: 7.7% !important; 
 
}

.trunqate {
  max-width: 200px;
}

.trunqateReg {
  max-width: 185px;
}

.lnkNewWarningBottom {
  border-radius: 5rem !important;
}
.margins {
  margin-top: 10% !important;
  margin-bottom: 10%;
}
.justifying {
  justify-content: flex-end
}
#newProductLink{
  margin-bottom: 10%;
}
.form-control {
  font-weight: 300 !important;
}
.dateTime {
  display: none !important;;
}
.dsp {
  margin-top: 8% !important;
}
.check {
  color: #fff;
  background-color: #15cc20 !important; 
  border-color: #15cc20 !important;
}
.back {  
  background-color: black !important;
  color: white !important;
  border-color: black !important;  
}
.edit {
  background-color: yellow !important;
  color: black !important;
  border-color: #d6f107!important;
}
.back, .edit, .check{
  font-size: 1.3rem !important;
  max-width: 20%;
  width: 30% !important;
}
.check, .edit{
  margin-left: 7%;
}
.lnkNewWarning {
    width: 20%;
    font-size: 1rem !important;
    border-radius: 5rem !important;
}
.justifying-show-label {
  justify-content: flex-end;
}
.showOutput {
  font-weight: 350;
}

.justifying-show-label-special {
  justify-content: flex-end !important;
}

.product_action {
  color: green;
}
.product_action2 {
  color: red;
}
.col-sm-6.col-form-label {
  text-align: right;
}

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 992px) and (orientation : portrait) { 

  .strongSize, .showOutput {
   font-size: 1.25rem !important;
  }
  a.singOut {
    font-size: 1.25rem;
  }
  .initialTitle {
    font-size: 1.7rem !important;
  }
  .edit, .check, .back {
      font-size: 1.25rem !important;
  }
  .lnkNewWarning {
    width: 30%;
  }
}

@media (max-width: 767px) and (orientation : portrait) {

  .dsp {
    margin-top: 2% !important;
  }
  .form-control {
      width: 100% !important;
  }
  .lnkNewWarningBottom {
      width: 28% !important;
  }
  .margins {
    margin-top: 10% !important;
    margin-bottom: 10%;
    //margin-left: 5% !important;
    //margin-right: 5% !important;
  }
  .justifying-show-label-special {
    justify-content: flex-end;
  }
  .justifying-input {
    justify-content: center;
  }
  .edit, .check, .back{
      width: 40% !important;
      margin-top: 7.5%;
      margin-bottom: 8.5%;
      max-width: 100%;
  }
  .mb-mr {
      margin-right: none !important;
  }
  .trunqate {
    max-width: 150px !important;
  }
  .trunqateReg {
  max-width: 150px!important;
  }
}

@media (max-width: 576px) and (orientation : portrait) {

  .lnkNewWarning {
    width: 50%;
    font-size: 1.25rem !important;
  }
  .lnkNewWarningBottom {
      width: 50% !important;
  }
  .rowAligntment {
      padding-right: 3%;
      padding-left: 3%;
  }
  .justifying-show-label {
    justify-content: flex-end !important;
    
  }
  .justifying-show-label-special {
    justify-content: center !important;
  }
  .justifying {
    justify-content: center !important;
  }
  .strongSize, .showOutput {
    font-size: 1.2rem !important;
  }
  a.singOut {
    font-size: 1.2rem !important;
  }
  .back {
    font-size: 1rem !important;
  }

  .mb-mr {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }

  .form-control {
      font-size: 1.2rem !important;
  }
}

@media (max-width: 500px) and (orientation : portrait){
.back, edit, .check {
    font-size: 1.15rem !important;
}
}


/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width:1200px) and (orientation:landscape) {
  .initialTitle {
    font-size: 1.9rem !important;
  }
  .lnkNewWarningBottom {
    width: 19%;
  }
  .edit, .check, .back{
    width: 30% !important;
  }
}

@media (max-width:800px) and  (orientation:landscape) {

  .headerInitial {
      margin-bottom: 5%;
  }
  .searchDiv {
    margin-left: 0 !important;
    margin-right: 5%;
  }
  .inputSearch {
    margin-bottom: 2% !important;
    font-size: 1.05rem !important;
  }
  .justifying-show-label-special {
    justify-content: flex-end !important;
  }
  .edit, .check, .back {
    font-size: 1.25rem !important;
    width: 30%;
  }  
  .lnkNewWarning {
    width: 30%;
  }
  .lnkNewWarningBottom {
      width: 27.6%;
  }
  .lnkNewWarning {
      width: 28%;
  }
  .btnSearch {
    margin-left: 9% !important;
  }
  .form-control {
    width: 100% !important;
    margin-left: 9%;
  }
 .strongSize, .showOutput {
    font-size: 1.2rem !important;
  }
  a.singOut {
    font-size: 1.2rem !important;
  }

}

@media (max-width:580px) and  (orientation:landscape) {
  .justifying {
    justify-content: center !important;
  }
}





