// Striped table colors
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {    
  //background-color: #cef8fd !important;
  background-color: #fff12029 !important;
}

.strong {
  font-weight: 550;
}

.table th{
  text-align: center;
}

.cardInitial {
  margin: 3%;
}

.initialTitle {
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 650;
}

.headerInitial {
  background-color: #fffb00;
  color: #000;
  margin-bottom: 10%;
}

.margins {
  margin-top: 10% !important;
  margin-bottom: 10%;
}

.justifying {
  justify-content: flex-end
}

#newProductLink{
  margin-bottom: 10%;
}

.dateTime {
    display: none;
}

.dsp {
  margin-top: 8% !important;
}

// BUTTONS STARTS
.back {  
  background-color: black !important;
  color: white !important;
  border-color: black !important;  
}

.edit {
  background-color: yellow !important;
  color: black !important;
  border-color: #d6f107!important;
}

.check, .edit{
  margin-left: 7%;
}

.lnkNewWarning {
    width: 20%;
    font-size: 1rem !important;
    border-radius: 5rem !important;
}
// BUTTONS ENDS 

// SHOW STARTS //

.justifying-show-label {
    justify-content: flex-end !important;
    //width: 0 !important;
    //margin-left: 10% 
}

.product_action {
  color: green;
}

.product_action2 {
  color: red;
}
// SHOW ENDS //




/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */

@media (max-width: 992px) and (orientation : portrait) { 

  .initialTitle {
    font-size: 1.7rem !important;
  }

  .edit, .check, .back {
      font-size: 1.1rem !important;
  }

  .lnkNewWarning {
    width: 30%;
  }
}

@media (max-width: 767px) and (orientation : portrait) {
  /*.cardInitial {
      margin: 3% !important;
  } */
}

.dsp {
  margin-top: 12% !important;
}

.margins {
  margin-top: 10% !important;
  margin-bottom: 10%;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.justifying {
  justify-content: center;
}

.justifying-input {
  justify-content: center;
}

.justifying-show-label {
  margin-left: 6% !important;
}

.edit, .check, .back{
    width: 40% !important;
    margin-top: 7.5%;
    margin-bottom: 8.5%;
}


@media (max-width: 576px) and (orientation : portrait) {
  .lnkNewWarning {
    width: 50%;
    font-size: 1rem !important;
  }

// SHOW //
.justifying-show-label {
    //justify-content: flex-start !important;
    //width: 0 !important;
    margin-left: 6% !important;
}
// SHOW ENDS //

  .back {
    font-size: 1rem !important;
  }


}


/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width:1200px) and (orientation:landscape) {
  .initialTitle {
    font-size: 1.9rem !important;
  }

  .edit, .check, .back{
    font-size: 1rem !important;
    width: 30% !important;
  }
}

@media (max-width:800px) and  (orientation:landscape) {
 /* .cardInitial {
      margin: 3% !important;
  } */

// Buttons
  .edit, .check, .back {
    font-size: 1rem !important;
    width: 30%;
  }
  
  .lnkNewWarning {
    width: 30%;
  }

}



