<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show marginsAlerts" role="alert" id="alert">
    <strong>Hey! </strong> <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>   
<% end %>

<% if notice %>
  <div class="alert alert-success alert-dismissible fade show marginsAlerts" role="alert" id="notice">
    <strong>Hey! </strong><%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
   </div>
<% end %>


