

<!-- <div class=" row justify-content-center homeView">
	<%# if current_user %>
	  <div class="p-2 col-4 text-center bd-highlight userLink mr-5">
	  	<%#= current_user.email ? current_user.email  : current_user.username %>
	  </div> 
	  <div class="p-2 col-4 text-center bd-highlight"> 
	  	<%#= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	  </div>
	<%# elsif !current_user && (controller_name == 'sessions' || controller_name == 'registrations' )  %>
	<%# else %>
	  <div class="p-2 col-4 text-center bd-highlight mr-3 signinTopLink">
	  	<%#= link_to "Sign In", new_user_session_path %>
	  </div>
	  <div class="p-2 col-4 text-center bd-highlight signupTopLink">   <%#= link_to  "Sign Up", new_user_registration_path %>
	  </div>
	<%# end %>
</div> -->


